<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>CLASSROOM</h1>  
  <p>List: {{ this.classroomsResource.status.get('list') }}</p>
  <p>Details: {{ this.classroomsResource.status.get('details') }}</p>
  <p>Create: {{ this.classroomsResource.status.get('create') }}</p>
  <p>Update: {{ this.classroomsResource.status.get('update') }}</p>
  <p>Delete: {{ this.classroomsResource.status.get('delete') }}</p>

  <p>---------</p>

  <p>List (async): {{ classroomList$ | async | json }}</p>

  <p>Details (async): {{ classroomDetails$ | async | json }}</p>

  <br>
  <br>

  <h1>STUDENTS</h1>
  <p>List: {{ this.studentsResource.status.get('list') }}</p>
  <p>Details: {{ this.studentsResource.status.get('details') }}</p>
  <p>Create: {{ this.studentsResource.status.get('create') }}</p>
  <p>Update: {{ this.studentsResource.status.get('update') }}</p>
  <p>Delete: {{ this.studentsResource.status.get('delete') }}</p>
  <p>Inscribe: {{ this.studentsResource.status.get('inscribe') }}</p>

</body>
</html>